<div>
  <form [formGroup]="form" (ngSubmit)="editarCurso()">

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" >
          <mat-label>Nombre del alumno</mat-label>
          <input matInput type="text" formControlName="nombre" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" >
          <mat-label>Apellido del alumno </mat-label>
          <input matInput type="text" formControlName="apellido" />
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" >
          <mat-label>Correo del alumno</mat-label>
          <input matInput type="email" formControlName="correo" />
        </mat-form-field>
      </div>
      <div class="col-6">

        <mat-form-field appearance="fill" >
          <mat-label>Curso actual del alumno</mat-label>
          <input matInput type="text" formControlName="cursoActual" />
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Cursos Disponibles</mat-label>
          <mat-select formControlName="curso">
            <mat-option  *ngFor="let curso of listaCursos" [value]="curso.nombre" >{{ curso.nombre }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>

    <div class="row">
      <div class="botones">
        <div class="">
          <button mat-raised-button color="primary" type="submit" >Terminar edicion</button>
        </div>
        <div class="">
          <button mat-raised-button color="primary" (click)="retroceder()" >Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
