.titulo{
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}

.cursada{
    font-size: small;
    font-style: italic;
    text-align: start;
    text-transform: none;
    
}

.top10{
    @extend .cursada;
    color: gold;
}