<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" color="primary">
      <a class="navbar-brand" href="#">GARAGECODER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <mat-form-field class="col-auto">
        <mat-label>Quiero estudiar...</mat-label>
        <input type="text" placeholder="Buscar..." matInput>
      </mat-form-field>
    </div>
  </nav>
