table{
  width: 100%;
  border: 1px solid black;
  .mat-header-cell{
    background-color: grey;
    font-size: 0.8rem;
    font-weight:  500;
    text-align: center;
  }
  .mat-cell{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid;

  }
}

.titulo-detalles{
  display: flex;
  justify-content: space-between;
  mat-icon{
    width: auto;
    height: auto;
    font-size: 3rem;
  }
  p{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .alumno{
    display: flex;
  }
}
