<div class="dialog">
  <div>
    <h3>Datos del alumno</h3>
    <div class="contenido">
      <div class="datos">
        <h4>Informacion Personal</h4>
        <mat-list>
          <mat-list-item>
            Nombre: {{' '+alumno.nombre}}
          </mat-list-item>
          <mat-list-item>
            Apellido: {{' '+alumno.apellido}}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="tabla-cursos" *ngIf="alumno.cursoActual.nombre!=''">
        <h4>Cursando</h4>
        <table mat-table [dataSource]="data">
          <ng-container matColumnDef="curso">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="comision">
            <th mat-header-cell *matHeaderCellDef> Comision </th>
            <td mat-cell *matCellDef="let curso"> {{curso.comision}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let curso">
            <button mat-raised-button color="primary" (click)="darBaja()"> Dar de baja</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="botones">
    <button mat-raised-button color="primary" (click)="cerrarDetalles()">Cerrar</button>
  </div>
</div>
