table{
  width: 100%;
}

h3{
  text-transform: capitalize;
}


.titulo-detalles{
  display: flex;
  justify-content: space-between;
  mat-icon{
    width: auto;
    height: auto;
    font-size: 3rem;
  }
  p{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .alumno{
    display: flex;
  }
}
