.dialog {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}

.contenido {
  display: flex;
}

.botones{
  display: flex;
  justify-content: center;
}

.datos{
  width: 25%;
}

.tabla-cursos{
  width: 75%;
  table{
    width: 100%;
  }
}
