
<div class="dialog">
  <h1 mat-dialog-title>EDITAR USUARIO</h1>
    <div mat-dialog-content>
      <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
          <mat-label>Nombre usuario</mat-label>
          <input matInput type="text"formControlName="nameUsuario" [ngClass]="{'is-invalid':formulario.get('nameUsuario')?.errors &&
            formulario.get('nameUsuario')?.touched}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasena" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>

        <mat-form-field appearance="fill" >
          <mat-label>Correo del usuario</mat-label>
          <input matInput type="email" formControlName="correo" [ngClass]="{
            'is-invalid':formulario.get('correo')?.errors}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Direccion del usuario </mat-label>
          <input matInput type="text" formControlName="direccion" [ngClass]="{
            'is-invalid':formulario.get('direccion')?.errors}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Telefono del usuario</mat-label>
          <input matInput type="email" formControlName="telefono" [ngClass]="{'is-invalid':formulario.get('telefono')?.errors?.['required'] && formulario.get('telefono')?.errors?.['pattern'] }"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>
      </form>
    </div>

    <div mat-dialog-actions>
      <div class="botones">
          <div class="">
            <button mat-raised-button color="primary" [disabled]="formulario.invalid" (click)="editarUsuario()">Editar usuario</button>
          </div>
          <div class="">
            <button mat-raised-button type="button" color="primary" (click)="retroceder()">Cancelar</button>
          </div>
      </div>
    </div>

  </div>
