mat-toolbar{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenido{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a{
    width: 100%;
  }
}

h3{
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  width: 100%;
}
