mat-toolbar{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  .contenido{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a{
      width: 100%;
    }
  }
}


