<div class="contenido" >
  <div class="table" >
    <div class="msj-nodatos" *ngIf="data.data.length===0">
      <p>¡No existe el curso buscado!</p>
      <p> Prueba devuelta</p>
    </div>

    <table mat-table [dataSource]="data" *ngIf="data.data.length>0" >
      <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let curso">{{ curso.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="profesor">
          <th mat-header-cell *matHeaderCellDef>Profesor</th>
          <td mat-cell *matCellDef="let curso">{{ curso.profesor}}</td>
        </ng-container>

        <ng-container matColumnDef="comision">
          <th mat-header-cell *matHeaderCellDef>Comision</th>
          <td mat-cell *matCellDef="let curso">{{ curso.comision}}</td>
        </ng-container>

        <ng-container [ngSwitch]="usuarioActivo?.admin" matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let curso">
                <button mat-icon-button >
                    <mat-icon matTooltip="Editar"  (click)="editarDatos(curso)" color="primary">edit_square</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon matTooltip="Eliminar" (click)="eliminarCurso(curso)" color="warn">playlist_remove</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon matTooltip="Detalles" (click)="verDetalles(curso)">visibility</mat-icon>
              </button>
            </td>
        </ng-container>
        <div [ngSwitch]="usuarioActivo?.admin">
          <span *ngSwitchCase="true" >
            <tr mat-header-row *matHeaderRowDef="columnasAdmin"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasAdmin"></tr>
          </span>
          <span *ngSwitchCase="false" >
            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasUsuario"></tr>
          </span>
        </div>
    </table>
  </div>

  <div class="mt-2 btn-collapse">
    <button mat-raised-button color="primary" (click)="opened=!opened" [ngSwitch]="opened">
      <div *ngSwitchCase="false" >
        <mat-icon>arrow_back</mat-icon>
      </div>
      <div *ngSwitchCase="true" >
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </button>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="opened" mode="side">
        <div *ngIf="opened" class="menu-collapse">
          <div class="tools-elements">
            <h3>Panel de Curso</h3>
            <div *ngIf="usuarioActivo?.admin">
              <button mat-raised-button color="primary" (click)="agregarCurso()"><mat-icon>assignment_add</mat-icon>Curso</button>
            </div>
            <form [formGroup]="formulario" >
              <div class="">
                <mat-form-field appearance="fill" class="fill">
                  <p>Buscar por curso</p>
                  <input type="text" formControlName="curso" matInput />
                </mat-form-field>
                <div class="botones">
                  <button matTooltip="Buscar" mat-raised-button color="primary"  (click)="buscarXCurso()"><mat-icon>search</mat-icon></button>
                  <button matTooltip="Vaciar" mat-raised-button color="primary"  (click)="vaciarCampoCurso()"><mat-icon>backspace</mat-icon></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
