<div class="contenido" >
  <div class="table" >
    <h1>Lista de Cursos</h1>
    <table mat-table [dataSource]="data" >
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let curso">{{ curso.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="profesor">
          <th mat-header-cell *matHeaderCellDef>Profesor</th>
          <td mat-cell *matCellDef="let curso">{{ curso.profesor}}</td>
        </ng-container>
        <ng-container matColumnDef="disponibilidad">
          <th mat-header-cell *matHeaderCellDef>Disponibilidad</th>
          <td mat-cell *matCellDef="let curso" [ngSwitch]="curso.disponibilidad" [ngClass]="curso.disponibilidad?'disponible':'noDisponible'">
            <span *ngSwitchCase="true" > Disponible </span>
            <span *ngSwitchCase="false" > No disponible </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let curso">
                <button mat-icon-button >
                    <mat-icon (click)="editarDatos(curso)" color="primary">edit_note</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon (click)="eliminarCurso(curso.id)" color="warn">delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
  </div>
  <div class="tools">
    <div class="tools-elements">
      <h3>Cursos Actions</h3>
      <div>
        <button mat-raised-button color="primary" (click)="agregarCurso()">Agregar Curso</button>
      </div>
      <form [formGroup]="formulario" >
        <div class="">
          <mat-form-field appearance="fill" class="fill">
            <p>Buscarlo por profesor</p>
            <input type="text" formControlName="profesor" matInput/>
          </mat-form-field>
          <div class="botones">
            <button  mat-raised-button color="primary"  (click)="buscarXProfesor()">Buscar</button>
            <button mat-raised-button color="primary"  (click)="vaciarCampoProfesor()">Vaciar</button>
          </div>
        </div>
        <div class="">
          <mat-form-field appearance="fill" class="fill">
            <p>Buscarlo por curso</p>
            <input type="text" formControlName="curso" matInput />
          </mat-form-field>
          <div class="botones">
            <button mat-raised-button color="primary"  (click)="buscarXCurso()">Buscar</button>
            <button mat-raised-button color="primary"  (click)="vaciarCampoCurso()">Vaciar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>













<!-- <div class="contenido">
  <div class="cards-org">


    <div *ngFor="let curso of cursos$ | async">
      <mat-card class="">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-subtitle>Profesor: {{ curso.profesor }}</mat-card-subtitle>
        <mat-card-subtitle
          >Fechas: {{ curso.finicio | date: "dd/MM/YYYY" }} -
          {{ curso.ftermino | date: "dd/MM/YY" }}
        </mat-card-subtitle>
        <img mat-card-image src="{{ curso.img }}" alt="IMG" />
        <mat-card-content>{{ curso.descripcion }}</mat-card-content>
        <mat-card-actions align="end">
          <div [ngSwitch]="curso.disponibilidad" [ngClass]="curso.disponibilidad?'disponible':'noDisponible'">
            <span *ngSwitchCase="true" > Disponible </span>
            <span *ngSwitchCase="false" > No disponible </span>
          </div>
        </mat-card-actions>
        <mat-card-actions align="end" >
          <div [ngSwitch]="usuarioActivo?.admin">
            <div *ngSwitchCase="true">
              <mat-icon  type="button" (click)="editarDatos(curso)" color="primary">edit_note</mat-icon>
              <mat-icon type="button" (click)="eliminarCurso(curso.id)" color="warn">delete</mat-icon>
            </div>
            <div *ngSwitchCase="false">
              <button mat-raised-button color="primary" *ngIf="curso.disponibilidad" (click)="inscripcion()" >Inscribirme</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="tools">
    <div class="tools-elements">
      <h3>Cursos Actions</h3>
      <div *ngIf="usuarioActivo?.admin">
        <button mat-raised-button color="primary" (click)="agregarCurso()" >Nuevo Curso</button>
      </div>
      <form [formGroup]="formulario">
        <div class="">
          <mat-form-field appearance="fill" class="fill">
            <p>Buscarlo por profesor</p>
            <input type="text" matInput formControlName="profesor" />
          </mat-form-field>
          <div class="botones">
            <button  mat-raised-button color="primary"  (click)="buscarXApellido()">Buscar</button>
            <button mat-raised-button color="primary"  (click)="vaciarCampoApellido()">Vaciar</button>
          </div>
        </div>
        <div class="">
          <mat-form-field appearance="fill" class="fill">
            <p>Buscarlo por nombre</p>
            <input type="text" matInput formControlName="nombre" />
          </mat-form-field>
          <div class="botones">
            <button mat-raised-button color="primary" (click)="buscarXNombre()">Buscar</button>
            <button mat-raised-button color="primary" (click)="vaciarCampoNombre()">Vaciar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
