<div>
  <h1 mat-dialog-title>Datos de {{alumno.nombre}}</h1>
    <div mat-dialog-content>
      <form [formGroup]="form" >
        <mat-form-field appearance="outline" >
          <mat-label>Nombre del alumno</mat-label>
          <input matInput type="text" formControlName="nombre" [ngClass]="{
            'is-invalid':form.get('nombre')?.errors && form.get('nombre')?.errors?.['required']}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Apellido del alumno </mat-label>
          <input matInput type="text" formControlName="apellido" [ngClass]="{
            'is-invalid':form.get('apellido')?.errors && form.get('apellido')?.errors?.['required']}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <div *ngIf="alumno.cursoActual.nombre!=''">
          <mat-form-field appearance="outline"  >
            <mat-label>Curso actual del alumno</mat-label>
            <input matInput type="text" formControlName="cursoActual" readonly/>
          </mat-form-field>
        </div>

        <div>
          <div [ngSwitch]="alumno.cursoActual.nombre!=''">
            <p *ngSwitchCase="true">Cambiar a</p>
            <p *ngSwitchCase="false">Asignar curso</p>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Cursos Disponibles</mat-label>
            <mat-select formControlName="cursoActual">
              <mat-option  *ngFor="let curso of cursos$ | async" [value]="curso.nombre" >{{ curso.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div mat-dialog-actions>
      <div class="botones">
        <div class="">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="editarAlumno()" >Terminar edicion</button>
        </div>
        <div class="">
          <button mat-raised-button color="primary" type="button" (click)="retroceder()" >Cancelar</button>
        </div>
      </div>
    </div>

  </div>

