form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  // mat-form-field{
  //   width: 100%;
  // }
}

// .dialog{
//   display: flex;
//   flex-direction: column;
//   justify-items: space-around;
// }

.botones{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}



button{
  &:hover{
    color: black;
  }
}

.mat-dialog-title{
  text-align: center;
}
