<div class="dialog">
  <h1 mat-dialog-title>NUEVO ALUMNO</h1>
    <div mat-dialog-content>
      <form [formGroup]="form" >
        <mat-form-field appearance="fill" >
          <mat-label>Nombre del alumno</mat-label>
          <input matInput type="text" formControlName="nombre" [ngClass]="{
            'is-invalid':form.get('nombre')?.errors}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Apellido del alumno </mat-label>
          <input matInput type="text" formControlName="apellido" [ngClass]="{
            'is-invalid':form.get('apellido')?.errors}"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Correo del alumno</mat-label>
          <input matInput type="email" formControlName="correo" [ngClass]="{'is-invalid':form.get('correo')?.errors?.['required'] && form.get('correo')?.errors?.['pattern'] }"/>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill"  >
          <mat-label>Curso actual del alumno</mat-label>
          <input matInput type="text" formControlName="cursoActual" readonly/>
        </mat-form-field>

        <div>
          <p>Elegi el curso a cambiar</p>
          <mat-form-field appearance="fill">
            <mat-label>Cursos Disponibles</mat-label>
            <mat-select formControlName="cursoActual">
              <mat-option  *ngFor="let curso of cursos" [value]="curso.nombre" >{{ curso.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div mat-dialog-actions>
      <div class="botones">
        <div class="">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="editarAlumno()" >Terminar edicion</button>
        </div>
        <div class="">
          <button mat-raised-button color="primary" type="button" (click)="retroceder()" >Cancelar</button>
        </div>
      </div>
    </div>

  </div>

