<div class="org-contenido">
  <div class="contenido">
    <div class="table">
      <table mat-table [dataSource]="dataSource" class="fill">

        <ng-container matColumnDef="id_curso">
          <th mat-header-cell *matHeaderCellDef>ID-Curso</th>
          <td mat-cell *matCellDef="let inscripcion">{{ inscripcion.id_curso }}</td>
        </ng-container>

        <ng-container matColumnDef="id_alumno">
          <th mat-header-cell *matHeaderCellDef>ID-Alumno</th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.id_alumno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaInscripcion">
          <th mat-header-cell *matHeaderCellDef>Fecha de inscripcion</th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.fechaInscripcion | date: 'MMM d, y'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id_usuario">
          <th mat-header-cell *matHeaderCellDef>ID-Usuario</th>
          <td mat-cell *matCellDef="let inscripcion">{{ inscripcion.id_usuario }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones" *ngIf="usuarioActivo?.admin">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let inscripcion">
            <button mat-icon-button matTooltip="Editar" (click)="editar(inscripcion)" color="primary">
              <mat-icon>edit_note</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar" (click)="eliminar(inscripcion)"  color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <div [ngSwitch]="usuarioActivo?.admin">
          <span *ngSwitchCase="true" >
            <tr mat-header-row *matHeaderRowDef="columnasAdmin"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasAdmin"></tr>
          </span>
          <span *ngSwitchCase="false" >
            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasUsuario"></tr>
          </span>
        </div>
      </table>
    </div>
    <div class="tools">
      <div class="tools-elements">
        <h3>Isncripciones Actions</h3>
        <div *ngIf="usuarioActivo?.admin">
          <button mat-raised-button color="primary" (click)="agregarInscripcion()">Agregar Inscripto</button>
        </div>
      </div>
    </div>
  </div>
</div>
