<mat-card >
  <mat-card-header>
    <mat-card-title style="font-size: 1.5rem;">desarrollo web</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/Diseño sin título.png" class="sizesImg" >
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis itaque doloribus at repellat. A similique nulla iure quo ex nostrum adipisci, debitis amet quibusdam sunt eos quia exercitationem harum!
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button >ver cursada</button>
    <button mat-flat-button >inscripcion</button>
  </mat-card-actions>
</mat-card>
