<!-- <div class="muestreo-cards">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen ">
        <img src="../../../assets/icons/css-icon.png" class="img-fluid img-icon ">
        <img src="../../../assets/icons/html-icon.png" class="img-fluid img-icon ">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Desarrollo WEB</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deleniti necessitatibus molestiae nesciunt inventore dolore obcaecati quae praesentium! Officia velit exercitationem itaque. Sed ipsum asperiores, maxime molestias nulla corporis veniam.</p>
          <p class="card-text"><small class="text-muted">Aprende HTML5 y CSS3 con este curso</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen">
        <img src="../../../assets/icons/js-icon.png" class="img-fluid img-icon ">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit adipisci laboriosam inventore similique sapiente ipsa nemo illum, ratione quas consequuntur nam voluptates. Beatae, ullam fugiat ab magnam saepe quasi labore!</p>
          <p class="card-text"><small class="text-muted">Necesario haber realizado el curso Desarrollo Web</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen">
        <img src="../../../assets/icons/angular-icon.png" class="img-fluid img-icon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum modi ullam neque unde corporis commodi fugit in dolores non, ducimus natus exercitationem eveniet quam cumque aliquid? Rerum provident sint consequatur!</p>
          <p class="card-text"><small class="text-muted">Necesario haber hecho los cursos de Desarrollo Web y JavaScript</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen">
        <img src="../../../assets/icons/react-icon.png" class="img-fluid img-icon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">React</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ullam nulla, saepe id molestias, accusantium exercitationem modi cum, mollitia voluptates expedita impedit asperiores. Quasi ipsam minus nisi atque, distinctio magnam.</p>
          <p class="card-text"><small class="text-muted">Necesario haber hecho los cursos de Desarrollo Web y JavaScript</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen">
        <img src="../../../assets/icons/python-icon.png" class="img-fluid img-icon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam saepe corrupti quibusdam, minima iste atque obcaecati ab officiis praesentium quo culpa debitis fugiat et est voluptas necessitatibus adipisci deserunt tempora.</p>
          <p class="card-text"><small class="text-muted">Aprende de 0 python y usalo como quieras por su versatilidad</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 card-imagen">
        <img src="../../../assets/icons/backend-icon.png" class="img-fluid img-icon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ex repudiandae et accusantium repellat aperiam doloremque voluptatem, reiciendis quidem perferendis ullam voluptate mollitia deserunt modi ab omnis molestiae sequi porro?</p>
          <p class="card-text"><small class="text-muted">Necesario ya tener los conocimientos de Desarrollo Front-End </small></p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<mat-card style="max-width: 340px;">
  <mat-card-header>
    <mat-card-title>Desarrollo WEB</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/Diseño sin título.png" style="max-width: 340px;" >
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis itaque doloribus at repellat. A similique nulla iure quo ex nostrum adipisci, debitis amet quibusdam sunt eos quia exercitationem harum!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ver cursada</button>
    <button mat-button>inscripcion</button>
  </mat-card-actions>
</mat-card>
