<div class="dialog">
  <h1 mat-dialog-title>NUEVO ALUMNO</h1>
    <div mat-dialog-content>
      <form [formGroup]="formulario">

        <mat-form-field appearance="fill" >
          <mat-label>ID_Curso inscripto</mat-label>
          <input matInput type="text" formControlName="id_curso" readonly/>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>ID-Alumno inscripto</mat-label>
          <input matInput type="text" formControlName="id_alumno" readonly/>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>ID-Usuario inscripto</mat-label>
          <input matInput type="text" formControlName="id_usuario" readonly/>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Fecha de inscripcion</mat-label>
          <input matInput type="text" formControlName="fechaInscripcion" readonly/>
        </mat-form-field>

        <!-- <div>
          <p>Reasignar curso</p>
          <mat-form-field appearance="fill">
            <mat-label>Cursos Disponibles</mat-label>
            <mat-select formControlName="curso">
              <mat-option  *ngFor="let curso of cursos" [value]="curso.nombre" >{{ curso.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div>
          <p>Corregir fecha de inscripcion</p>
          <mat-form-field appearance="fill" >
            <mat-label>Fecha de inscripcion</mat-label>
            <input matInput [matDatepicker]="nuevaFecha" formControlName="fechaInscripcion"/>
            <mat-datepicker-toggle matSuffix [for]="nuevaFecha"></mat-datepicker-toggle>
            <mat-datepicker #nuevaFecha></mat-datepicker>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div mat-dialog-actions>
      <div class="botones">
        <!-- (click)="editarInscripcion()"  -->
        <div class="">
          <button mat-raised-button color="primary" >Terminar edicion</button>
        </div>
        <div class="">
          <button mat-raised-button color="primary" type="button" (click)="retroceder()" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>
