<p>editar-inscripcion works!</p>

<!-- <div class="row" >
  <div class="col-md-4">
      <mat-form-field appearance="fill" class="fill">
          <mat-label>Seleccione un curso</mat-label>
          <mat-select [(ngModel)]="cursoSeleccionado">
              <mat-option *ngFor="let curso of cursos$ | async" [value]="curso">{{ curso.nombre }}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div class="col-md-2">
      <button mat-raised-button color="primary" (click)="inscribir(cursoSeleccionado)">Inscribir</button>
  </div>
</div> -->
