<div class="body">
  <div class="login" >
      <form [formGroup]="inicioSesion" (ngSubmit)="login()">
        <h1>iniciar sesion</h1>
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Ingresa tu email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasena" type="password" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Vos sos:</mat-label>
          <mat-select formControlName="perfil">
            <mat-option *ngFor="let usuario of opcUsers" [value]="usuario">{{
              usuario
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="botones">
          <button type="submit" mat-raised-button color="primary">Login</button>
          <button mat-raised-button color="primary" (click)="vaciarCampos()">
            Vaciar campos
          </button>
        </div>
      </form>
  </div>
</div>
