<div>
  <form [formGroup]="alumnoNuevo" (ngSubmit)="agregarAlumno()" >

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="fill" >
          <mat-label>Nombre del alumno</mat-label>
          <input matInput type="text" formControlName="nombre" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" >
          <mat-label>Apellido del alumno</mat-label>
          <input matInput type="text" formControlName="apellido" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <mat-form-field appearance="fill">
        <mat-label>Email del alumno</mat-label>
        <input matInput formControlName="correo" required>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field appearance="fill">
        <mat-label>Cursos Disponibles</mat-label>
        <mat-select formControlName="curso">
          <mat-option  *ngFor="let curso of listaCursos" [value]="curso.nombre" >{{ curso.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div class="botones">
        <div class="">
          <button mat-raised-button color="primary" type="submit" >Agregar curso</button>
        </div>
        <div class="">
          <button mat-raised-button color="primary" (click)="retroceder()" >Cancelar</button>
        </div>
      </div>
    </div>

  </form>
</div>
