<h5>¿Queres saber mas? Mandanos tu consulta</h5>

<form [formGroup]="formularioInformativo" class="row gy-2 gx-3 align-items-center" (ngSubmit)="mostrarDatos()">

  <div class="col-auto">
    <label class="" for="">Nombre</label>
    <input type="text" formControlName="nombre" class="form-control"  placeholder="Ingresa tu nombre">
  </div>

  <div class="col-auto">
    <label class=""  for="">Email</label>
    <input type="email" formControlName="email" class="form-control"  placeholder="Ingresa tu correo">
  </div>

  <div class="col-auto">
    <label class=""  >¿Por cual curso consultas?</label>
    <select formControlName="curso" class="form-select">
      <option *ngFor="let curso of listaCursos" [ngValue]="curso">
        {{ curso }}
      </option>
    </select>
  </div>

  <div class="col-10">
    <label for="" class="form-label">
      Dejanos tu consulta
    </label>
    <textarea formControlName="consulta" class="form-control"  rows="3"></textarea>
  </div>

  <div class="form-check form-switch">
    <input formControlName="suscripcion" class="form-check-input" type="checkbox" role="switch">
    <label class="form-check-label" for="">Recibir notificaciones de ofertas por correo</label>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Enviar Consulta</button>
  </div>
</form>
