<div class="body">
  <div class="fondo-blur">
    <div class="newUser">
      <form [formGroup]="formulario" (ngSubmit)="crearUsuario()">

        <div class="newUser-header">
          <mat-icon>account_circle</mat-icon>
          <h1>Crea tu cuenta 💻</h1>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input
            matInput
            type="text"
            formControlName="nameUsuario"
            [ngClass]="{
              'is-invalid':
                formulario.get('nameUsuario')?.errors &&
                formulario.get('nameUsuario')?.touched
            }"
          />
          <mat-icon matSuffix>face</mat-icon>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="contrasena"
            type="password"
            [ngClass]="{
              'is-invalid':
                formulario.get('contrasena')?.errors &&
                formulario.get('contrasena')?.touched
            }"
          />
          <mat-icon matSuffix>lock</mat-icon>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            matInput
            type="email"
            formControlName="correo"
            [ngClass]="{
              'is-invalid':
              formulario.get('correo')?.errors?.['required'] && formulario.get('correo')?.touched && formulario.get('correo')?.errors
            }"
          />
          <mat-icon matSuffix>mail</mat-icon>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input
            matInput
            type="text"
            formControlName="direccion"
            [ngClass]="{
              'is-invalid':
                formulario.get('direccion')?.errors &&
                formulario.get('direccion')?.touched
            }"
          />
          <mat-icon matSuffix>home_pin</mat-icon>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input
            matInput
            type="number"
            formControlName="telefono"
            [ngClass]="{
              'is-invalid':
                formulario.get('telefono')?.errors &&
                formulario.get('telefono')?.touched
            }"
          />
          <mat-icon matSuffix>call</mat-icon>
          <div class="invalid-feedback">
            <small>El campo es requerido</small>
          </div>
        </mat-form-field>



        <div class="botones">
          <div class="">
            <button
              mat-raised-button
              color="primary"
              [disabled]="formulario.invalid"
            >
              Crear usuario
            </button>
          </div>
          <div class="">
            <button
              mat-raised-button
              type="button"
              color="primary"
              (click)="retroceder()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
