form{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}

.body{
  width: 100vw;
  height: 100vh;
  background-image: url(../../../../assets/images/fondo-login.jpg);
  background-size: cover;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}


.newUser{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 45rem;
  margin-top: 5rem;

}

.fondo-blur{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
}

.newUser-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  mat-icon{
    width: auto;
    height: auto;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(81, 208, 247);
  }
}
