<div>
  <h1 mat-dialog-title>Usuario nuevo</h1>
  <div mat-dialog-content>
    <form [formGroup]="formulario">
      <mat-form-field appearance="outline">
        <mat-label>Nombre usuario</mat-label>
        <input matInput type="text" formControlName="nameUsuario" [ngClass]="{'is-invalid':formulario.get('nameUsuario')?.errors?.['required'] &&
            formulario.get('nameUsuario')?.touched && formulario.get('nameUsuario')?.errors}" />
        <mat-icon matSuffix>face</mat-icon>
        <div class="invalid-feedback">
          <small>El campo es requerido</small>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena" [ngClass]="{
              'is-invalid':
                formulario.get('contrasena')?.errors &&
                formulario.get('contrasena')?.touched &&
                formulario.get('contrasena')?.errors?.['required']
            }" />
        <mat-icon matSuffix>lock</mat-icon>
        <div class="invalid-feedback">
          <small>El campo es requerido</small>
        </div>
      </mat-form-field>

      <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>

      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput type="email" formControlName="correo"
        [ngClass]="{'is-invalid':formulario.get('correo')?.errors?.['required'] && formulario.get('correo')?.touched && formulario.get('correo')?.errors}" />
        <mat-icon matSuffix>mail</mat-icon>
        <div class="invalid-feedback">
          <small>El campo es requerido</small>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input matInput type="text" formControlName="direccion" [ngClass]="{
            'is-invalid':formulario.get('direccion')?.errors && formulario.get('direccion')?.touched && formulario.get('direccion')?.errors?.['required']}" />
        <mat-icon matSuffix>home_pin</mat-icon>
        <div class="invalid-feedback">
          <small>El campo es requerido</small>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput type="number" formControlName="telefono"
          [ngClass]="{'is-invalid':formulario.get('telefono')?.errors?.['required'] && formulario.get('telefono')?.touched && formulario.get('telefono')?.errors }" />
        <mat-icon matSuffix>call</mat-icon>
        <div class="invalid-feedback">
          <small>El campo es requerido</small>
        </div>
      </mat-form-field>

    </form>
  </div>

  <div mat-dialog-actions>
    <div class="botones">
      <div class="">
        <button mat-raised-button color="primary" [disabled]="formulario.invalid" (click)="agregarUsuario()">Agregar
          usuario</button>
      </div>
      <div class="">
        <button mat-raised-button type="button" color="primary" (click)="retroceder()">Cancelar</button>
      </div>
    </div>
  </div>

</div>
