.sizesImg{
  width: 20rem;
  height: 15rem;
}


mat-card{
  width: 20rem;
  height: 20rem;
  background: #c2185b;
  &-actions{
    gap: 0.5rem;
    button{
      text-transform:capitalize;
      &:hover{
        color: black;
      }
    }
  }

  &-content{
    text-align: center;
    color: black;
  }

  &-title{
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
