<div class="contenido">
  <div class="cards-org">
    <div *ngFor="let curso of cursos$ | async">
      <mat-card class="">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-subtitle>Profesor: {{ curso.profesor }}</mat-card-subtitle>
        <mat-card-subtitle
          >Fechas: {{ curso.finicio | date: "dd/MM/YYYY" }} -
          {{ curso.ftermino | date: "dd/MM/YY" }}
        </mat-card-subtitle>
        <img mat-card-image src="{{ curso.img }}" alt="IMG" />
        <mat-card-content>{{ curso.descripcion }}</mat-card-content>
        <mat-card-actions align="end">
          <div [ngSwitch]="curso.disponibilidad" [ngClass]="curso.disponibilidad?'disponible':'noDisponible'">
            <span *ngSwitchCase="true" > Disponible </span>
            <span *ngSwitchCase="false" > No disponible </span>
          </div>
        </mat-card-actions>
        <mat-card-actions align="end" >
          <div [ngSwitch]="valorSesion.usuarioActivo.perfil">
            <div *ngSwitchCase="'Profesor'">
              <mat-icon  type="button" (click)="editarDatos(curso)" color="primary">edit_note</mat-icon>
              <mat-icon type="button" (click)="eliminarCurso(curso.id)" color="warn">delete</mat-icon>
            </div>
            <div *ngSwitchCase="'Alumno'">
              <button mat-raised-button color="primary" *ngIf="curso.disponibilidad" >Inscribirme</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="tools">
    <div class="tools-elements">
      <h3>Cursos Actions</h3>
      <div *ngIf="valorSesion.usuarioActivo.perfil==='Profesor'">
        <button mat-raised-button color="primary" (click)="agregarCurso()" >Nuevo Curso</button>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="refresh()">Actualizar datos</button>
      </div>
      <div class="">
        <mat-form-field appearance="fill" class="fill">
          <p>Buscarlo por profesor</p>
          <input type="text" matInput (keyup.enter)="buscarXProfesor($event)" />
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field appearance="fill" class="fill">
          <p>Buscarlo por nombre</p>
          <input type="text" matInput (keyup.enter)="buscarXNombre($event)" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
